{% extends 'base.html' %}

{% block title %}ERROR{% endblock title %}

{% block body %}

<style>
    .image {
  background-image: url("https://media.istockphoto.com/photos/computer-error-picture-id1222806141?k=20&m=1222806141&s=612x612&w=0&h=GoODCHnR0mSefDBLWJpnqVnfRKH9ttdYPO0-KEYbb7w="); /* The image used */
  background-color: #080808; /* Used if the image is unavailable */
  height: 700px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
</style>


    <img class="image" src=""></img>


{% endblock body %}